<%= form_for recipe do |f| %>
    <%= f.label "Name" %>
    <%= f.text_field :name %>
    <%= f.label "Instructions" %>
    <%= f.text_area :instructions %>
    <%#<%= f.collection_select :ingredient_ids, Ingredient.all, :id, :name %>
    <%= f.fields_for :recipe_ingredients do |recipe_ingredients_fields| %>
        <p>
        <%= recipe_ingredients_fields.collection_select :ingredient_id, Ingredient.all, :id, :name, prompt: true %>
        <%= recipe_ingredients_fields.label "Quantity" %>
        <%= recipe_ingredients_fields.text_field :quantity %>
        <%= recipe_ingredients_fields.fields_for :ingredient, recipe_ingredients_fields.object.build_ingredient do |ingredient_fields| %>
            <%= ingredient_fields.label "New Ingredient Name" %>
            <%= ingredient_fields.text_field :name %> 
        <% end %>
        </p>
    <% end %>

    <%= f.submit %>
<% end %>


<!--
    params = {
        recipe: {
            name: "Name",
            content: "Content",

            ingredient_ids: [],

            recipe_ingredients_attributes: {
                0: {
                    quantity: "quantity",
                    ingredient_attributes: {
                        name: "Name"
                    }
                }
            }
        }
    }
-->