<div class="recipe-filter">
    <%= form_tag("/recipes", method: "get") do %>
        <%= select_tag "ingredient", options_from_collection_for_select(@ingredients, "id", "name"), include_blank: true %>
        <%= submit_tag "Filter" %>
    <% end %>
</div>

<div class="recipes">
    <% @recipes.each do |recipe| %>
        <div class="recipe-card">
            <img src="<%= recipe.image %>" />
            <%= link_to recipe.name, recipe_path(recipe) %>
        </div>
    <% end %>
</div>

<%= link_to "New Recipe", new_recipe_path %><br>

