<div class="recipe-filter">
    <%= form_tag("/recipes", method: "get") do %>
        <%= text_field_tag "ingredient", nil, placeholder: "Ingredient" %>
        <%= button_tag do %>
            <i class="fas fa-search"></i>
        <% end %>
    <% end %>
</div>

<div class="recipes">
    <% if @recipes %>
        <% @recipes.each do |recipe|%>
            <div class="recipe-card">
                <img src="<%= recipe.image %>" />
                <%= link_to recipe.name, recipe_path(recipe) %>
            </div>
        <% end %>
    <% end %>
</div>

<%= link_to "New Recipe", new_recipe_path %><br>