<h1><%= link_to @recipe.name, recipe_path(@recipe) %></h1>

<h3>Ingredients:</h3>
<ul>
    <% @recipe.ingredients.each do |ingredient| %>
        <li><%= @recipe.recipe_ingredients.find{ |i| i.ingredient_id == ingredient.id }.quantity  %> <%= link_to ingredient.name, recipe_ingredient_path(@recipe, ingredient) %></li>
    <% end %>
</ul>

<%= link_to "New Ingredient", new_recipe_ingredient_path(@recipe) %>

<h3>Instructions:</h3>

<p><%= @recipe.instructions %></p>

<%= link_to "Edit Recipe", edit_recipe_path(@recipe) %>

<%= link_to "Add to Cart", {controller: "recipes", action: "add_to_cart", id: @recipe}, method: "post" %>