<div class="home-text-container">
    <div class="home-text"><h1>the secret ingredient is always love.</h1></div>
</div>
<% 
=begin %> 

<%= form_tag('/sessions') do %>
    <%= text_field_tag :email %>
    <%= password_field_tag :password %>
    <%= submit_tag "Login" %>
<% end %>
<%= link_to('Sign Up Here', new_user_path) %>
<%= link_to('Log in with Facebook!', '/auth/facebook') %>

<% 
=end %>